{% extends 'template.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Admin Page</h1>
        
        <form action="/admin" method="POST" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label for="year">Year:</label>
                <select class="form-control" name="year" id="year">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="branch">Branch:</label>
                <select class="form-control" name="branch" id="branch">
                    {% for branch in branches %}
                        <option value="{{ branch }}">{{ branch }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="section">Section:</label>
                <select class="form-control" name="section" id="section">
                    {% for section in sections %}
                        <option value="{{ section }}">{{ section }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="csvFile">CSV File:</label>
                <input type="file" class="form-control-file" name="csvFile" id="csvFile">
                <p>The file should be in the format of rollnumber,student. the first row should be rollnumber,student like heading</p>
                <p>
                    Example:<br>
                    <br>

                    rollnumber,student<br>
                    160122733001,john<br>
                    160122733002,juliet<br>
                    160122733003,jack<br>
                    .<br>
                    .<br>
                    .<br>

                </p>
            </div>

            
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
{% endblock %}
