{%extends 'template.html'%}

{%block content%}

    <h1>Admin Page</h1>
    
    <form action="/admin" method="POST" enctype="multipart/form-data">
        <label for="year">Year:</label>
        <select name="year" id="year">
            {%for i in years%}
            <option value={{i}}>{{i}}</option>
            {%endfor%}
        </select><br><br>
        
        <label for="branch">Branch:</label>
        <select name="branch" id="branch">
            {%for i in branches%}
            <option value={{i}}>{{i}}</option>
            {%endfor%}
        </select><br><br>
        
        <label for="section">Section:</label>
        <select name="section" id="section">
            {%for i in sections%}
            <option value='{{i}}'>{{i}}</option>
            {%endfor%}
            
        </select><br><br>
        
        <label for="csvFile">CSV File:</label>
        <input type="file" name="csvFile" id="csvFile"><br><br>
        
        <input type="submit" value="Upload">
    </form>
{%endblock%}
